%html{lang: "en"}

  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/

    %title Portfolio - Fredrik Falkman

    = stylesheet_link_tag :foundation, :site


  %link{:href => "https://fonts.googleapis.com/css?family=Karla", :rel => "stylesheet"}


  %body
    = partial 'partials/header'
    -# = partial 'partials/top_bar'
    = yield



    %script{src:"/javascripts/vendor/jquery.js"}
    = javascript_include_tag :all
    %script{src:"/javascripts/vendor/foundation.min.js"}
    :javascript
      $(document).foundation();
