%html{lang: "en"}

  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Foundation for Sites
    %link{:href => "stylesheets/foundation.css", :rel => "stylesheet"}/



    = stylesheet_link_tag :foundation
    = stylesheet_link_tag :site
    = javascript_include_tag :all

    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"}


  %body
    = yield
    -# = partial 'partials/footer'
