%header.nav-down.on_top
  %h5{style: "margin: .7rem 1.9rem", }
    Portfolio - Fredrik Falkman
    .top-bar-right
      %ul.dropdown.menu{"data-dropdown-menu": "", style: "background-color: transparent"}
        %li.has-submenu
          %button.menu-icon.dark{type: "button", href: "#0"}
          %ul.submenu.menu.vertical{"data-submenu": "Test"}
            %li
              %a{:href => "#0"} One
            %li
              %a{:href => "#0"} Two
            %li
              %a{:href => "#0"} Three
