.orbit{"aria-label" => "Favorite Space Pictures", "data-orbit" => "", :role => "region"}
  %div
    %ul.orbit-container
      %button.orbit-previous{"aria-label" => "previous"}
        %span.show-for-sr> Previous Slide
        \&#9664;
      %button.orbit-next{"aria-label" => "next"}
        %span.show-for-sr> Next Slide
        \&#9654;
      %li.is-active.orbit-slide
        %div
          %img.hero_h{src: "/images/Bude.png"}
          %h1.text-center.center This is what I do at work.




        %li.orbit-slide
          %div
            %img.hero_h{src: "/images/FTP.png"}
            %h1.text-center.middle.center And sometimes this.

        %li.orbit-slide
          %div
            %img.hero_h{src: "/images/Langedrag.png"}
            %h1.text-center.middle.center This is my office view.


    %nav.orbit-bullets.bottom-center
      %button.is-active{"data-slide" => "0"}
        %span.show-for-sr First slide details.
        %span.show-for-sr Current Slide
      %button{"data-slide" => "1"}
        %span.show-for-sr Second slide details.
      %button{"data-slide" => "2"}
        %span.show-for-sr Third slide details.
