%div{"data-sticky-container": ""}
  .top-bar{"data-options": "marginTop:0;", "data-sticky": "", style: "width:100%"}
    .top-bar-right
      %ul.dropdown.menu{"data-dropdown-menu": "", style: "background-color: transparent"}
        %li.has-submenu
          %button.menu-icon.dark{type: "button", href: "#0"}
          %ul.submenu.menu.vertical{"data-submenu": "Test"}
            %li
              %a{:href => "#0"} One
            %li
              %a{:href => "#0"} Two
            %li
              %a{:href => "#0"} Three
    %h5{style: "margin-left: 1rem"}
      Portfolio - Fredrik Falkman

%br
