%h3{style: "padding: 1em 1em 1em 1em"}
  This is a site built for a coding bootcamp course at Craft Academy. It is built with Middleman, Foundation, Yaml, Html, Java Script, JQuery, Google Analytics, and a little bit of Ruby. It gets live screenshots from the linked sites by means of the Browshot API. If you don’t see them, I might have run out of my 100 fre screenshots of the month.
  %br
  The person building this site is me, Fredrik Falkman. I’m an industrial designer by training working for the Swedish Sea Rescue Society with development projects and general innovation.
