.row
  .projects
    - data.projects.each do |project|
      .large-2.medium-6.columns.callout
        %a= project[:link]
        %br
        %img= project[:img_link]
        %p= project[:description]
