.container-fluid
  .row
    .col-sm-2
      .projects
        - data.projects.each do |project|
          %a= project[:link]
          %br
          %img= project[:img_link]
          %p= project[:description]
  
